#parse("/velocity/layout.vm")
#@header()
#end
#@mainLayout()
<input type="hidden" value="$stationID"/>
<div class="custom-container">
    <div class="row my-5">
        <div class="col-xl-9 col-md-12">
            <div class="card shadow-sm animated fadeInUp">
                <div class="card-header bg-white">
                    <h4>Select weatherstation</h4>
                </div>
                <div class="card-body p-5">
                    <div id="map"></div>
                </div>
            </div>
        </div>
         <div class="col-xl-3 col-md-12">
            <div class="card shadow-sm animated fadeInUp" id="card">
                <div class="card-header bg-white">
                    <h4>Current conditions</h4>
                </div>
                <div class="card-body p-5 text-center">
                    <h1>33 °C</h1>
                </div>
            </div><br/><br/>
            <div class="card shadow-sm">
                <div class="card-header bg-white">
                    <h4>Historical data</h4>
                </div>
                <div class="card-body p-5" style="max-height: 232px;overflow: auto;overflow-x: hidden;">
                    <ul id="history-list"></ul>
                </div>
            </div>            
        </div>          
    </div>
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card shadow-sm animated fadeInUp">
                <div class="card-header bg-white">
                    <h4>Heat index temperature for Baltim station, Egypt</h4>
                </div>
                <div class="card-body p-5">
                    <div class="daily-chart">
                        <canvas id="dailyChart" height="300" style="width: 100%"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-3">
        </div>     
    </div>
</div>
#end
#@scripts()
<script src="/js/details.js"></script>
#end