#parse("/velocity/layout.vm")
#@header()
#end
#@mainLayout()
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/xml">
        <button>Upload</button>
    </form>
#end
#@scripts()
#end