#parse("/velocity/layout.vm")
#@header()
#end

#@mainLayout()
<div class="custom-map-container">
    <div class="row">
        <div class="col-sm-12">
          <h4 style="padding: 1.25rem 3.25rem 0">Select your weatherstation</h4>
          <div class="card-body">
            <div id="map"></div>
          </div>
        </div>
    </div>
</div>
#end

#@scripts()
<script src="/js/index.js"></script>
#end
