#parse("/velocity/layout.vm")
#@header()
#end
#@mainLayout()
<div class="custom-container">
    <div class="row">
        <div class="col-md-12">
            <h2>Settings</h2>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-6">
            <div class="card animated fadeInUp">
                <div class="card-body p-5">
                    <div class="form-group row my-4">
                        <div class="col-8">
                            <h5 class="m-0">Download Eurasia weather stations</h5>
                            <p class="m-0 sub-text font-weight-normal">Download the current data</p>
                        </div>
                        <div class="col-4" >
                            <a id="eurasia" href="/export/eurasia.csv" class='btn btn-primary' download="EurasiaDownloadCSV" style="display: none;">Download</a>
                        </div>
                    </div>
                    <div class="form-group row my-4">
                        <div class="col-8">
                            <h5 class="m-0">Download Afrika weather stations</h5>
                            <p class="m-0 sub-text font-weight-normal">Download the current data</p>
                        </div>
                        <div class="col-4">
                            <a id="africa" href="/export/africa.csv" class='btn btn-primary' download="AfricaDownloadCSV" style="display: none;">Download</a>
                        </div>
                    </div>
                </div>
                <button name="download-button" class="btn btn-primary" onclick="downloadCsv()">Ready Download</button>
            </div>
        </div>
    </div>
</div>
#end
#@scripts()
    <script src="/js/export.js"></script>
#end