#parse("/velocity/layout.vm")
#@mainLayout()
<div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-xl-6 col-sm-12">
        <div class="card shadow">
            <div class="card-body p-5">
                <div class="card-logo text-center">
                    <img src="/img/brunei-logo.jpg" alt="">
                </div>
                <div class="card-title my-3">
                    <h3 class="m-0">Sign up</h3>
                </div>

                <!-- Error message -->
                #if($signupError)
                    <div class="alert-danger">
                        <a class="form-text text-muted">$signupError</a>
                    </div>
                #end
                <form method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="authLevel">Authentication level</label>
                        <input type="number" name="authLevel" class="form-control" min="0" max="2" placeholder="0" value="0" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm password</label>
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirm password" required>
                    </div>
                    <input type="submit" value="Sign up" class="btn btn-primary btn-block"><br>
                    <small>Already have an account? <a href="$WebPath.getLOGIN()">Click here!</a></small>
                </form>
            </div>
        </div>
    </div>
</div>
#end
