#parse("/velocity/layout.vm")
#@mainLayout()
<div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-xl-6 col-sm-12">
        <div class="card shadow">
            <div class="card-body p-5">
                <div class="card-logo text-center">
                    <img src="img/brunei-logo.jpg" alt="">
                </div>
                <div class="card-title my-3">
                    <h3 class="m-0">Sign up</h3>
                    <p class="sub-text">Let's get started!</p>
                </div>
                <div class="form-group">
                    <label for="email">Username</label>
                    <input type="email" class="form-control" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                    <!-- eventuelte error message? -->
                    <small class="form-text text-muted">Your password must be 6 characters long.</small>
                </div>
                <div class="form-group">
                    <!-- <label for="passwordConfirm">Confirm password</label> -->
                    <input type="passwordConfirm" class="form-control" placeholder="Confirm password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Sign up</button><br>
                <small>Already have an account? <a href="$WebPath.getLOGIN()">Click here!</a></small>
            </div>
        </div>
    </div>
</div>
#end
