
.text-area{
  text-align: center;
  width: 75%;
  margin: 0 auto;
}
.text-area h2{
  font-size: 75px;
    text-transform: uppercase;
  color: white;
  margin: 10% 0 0;
}
.text-area h3{
  color: teal;
  margin: 0 0 15px;
  font-size: 35px;
}
.text-area p{
  font-size: 18px;
  color: #fff;
  width: 70%;
  margin: 0 auto;
  line-height:1.9;
}

::-webkit-scrollbar {
    display: none;  /* Chrome Safari */

}