.sidebar {
    height: 100%;
    position: relative;
    width: 250px;
    background: rgb(255,255,255);
    z-index: 1;
    transition: .3s all;
    float: left;
}
.navbar {
    z-index: 1;
}
.navbar .navbar-brand {
    margin-left: 250px;
}
.sidebar ul {
    padding: 0 2rem 0 2rem;
}

.sidebar .logo-header {
    color: white;
    padding: 1.5rem;
}

.sub-text {
    color: #959595;
}

.sidebar-content {
  position: fixed;
}

.general-container {
    background: white;
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.general-container .footer {
    margin-top: auto;
    text-align: right;
}

.sidebar .sidebar-item {
    color: black;
    position: relative;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-content: center;
}

.btn.btn-primary {
    background: #ff253a;
    border: 0;
}

.sub-text {
    color: rgba(161, 161, 161, 0.96);
}

.sidebar .sidebar-item .sidebar-link {
    color: black;
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar .sidebar-item .sidebar-link .sidebar-icon {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.custom-container {
    padding: 140px 60px 60px 320px;
    font-family: "Open Sans";
    font-weight: 700;
    z-index: 2;
}

#map {
    width: 100%;
    height: 400px;
}

@media (max-width: 992px) {
    .sidebar {
        transition: .3s all;
        width: 75px;
        z-index: 0;
    }

    .sidebar .sidebar-brand {
        display: none;
    }

    .sidebar ul {
        padding: 3rem 1rem 0 1rem;
    }

    .sidebar .sidebar-item .sidebar-link .sidebar-text {
        display: none;
    }

    .custom-container {
        padding: 140px 60px 60px 120px;
        font-family: "Open Sans";
        font-weight: 700;
        z-index: 2;
    }

    .navbar .navbar-collapse.show > .sidebar {
        z-index: 0;
    }
}
