.weathertable {
    text-align: center;
    border: 1px solid teal;
    margin-top: 100px;
}

.tableinfo {
    color: teal;
    font-size: 30px;
    text-align: center;
}

.define {
    color: white;
    font-size: 40px;
    border: 1px solid teal;
    text-align: center;
}

.variable {
    color: teal;
    font-size: 40px;
    border: 1px solid teal;
    text-align: center;
}