#parse("/velocity/layout.vm")
#@mainLayout()
<div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-xl-4 col-md-12">
        <div class="card shadow">
            <div class="card-body p-5">
                <div class="card-logo text-center">
                    <img src="/img/brunei-logo.jpg" alt="">
                </div>
                <div class="card-title my-3">
                    <h3 class="m-0">Login</h3>
                </div>
                #if($authenticationFailed)
                    <p class="bad notification">Failed to login</p>
                #elseif($authenticationSucceeded)
                    <p class="good notification">You are now logged in as $currentUser</p>
                #elseif($loggedOut)
                    <p class="notification">You are now logged out</p>
                #end
                <form method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" value="" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" value="" placeholder="Enter password" required>
                        #if($loginRedirect)
                            <input type="hidden" name="loginRedirect" value="$loginRedirect">
                        #end

                    </div>
                    <input type="submit" value="Login" class="btn btn-primary btn-block"><br>
                    <small>For more information <a href="$WebPath.getGENERAL()">Click here!</a></small>
                </form>
            </div>
        </div>
    </div>
</div>
#end
