#parse("/velocity/layout.vm")
#@mainLayout()
<div class="row justify-content-center align-items-center" style="height: 100vh">
    <div class="col-xl-4 col-md-12">
        <div class="card shadow">
            <div class="card-body p-5">
                <div class="card-logo text-center">
                    <img src="img/brunei-logo.jpg" alt="">
                </div>
                <div class="card-title my-3">
                    <h3 class="m-0">Login</h3>
                </div>
                #if($authenticationFailed)
                    <p class="bad notification">LOGIN_AUTH_FAILED</p>
                #elseif($authenticationSucceeded)
                    <p class="good notification">LOGIN_AUTH_SUCCEEDED $currentUser</p>
                #elseif($loggedOut)
                    <p class="notification">LOGIN_LOGGED_OUT</p>
                #end
                <div class="form-group">
                    <label for="email">Username</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                    #if($loginRedirect)
                        <input type="hidden" name="loginRedirect" value="$loginRedirect">
                    #end

                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button><br>
                <small>Dont have an account yet? <a href="$WebPath.getSIGNUP()">Click here!</a></small>
            </div>
        </div>
    </div>
</div>
#end

<form id="loginForm" method="post">
    #if($authenticationFailed)
        <p class="bad notification">$msg.get("LOGIN_AUTH_FAILED")</p>
    #elseif($authenticationSucceeded)
        <p class="good notification">$msg.get("LOGIN_AUTH_SUCCEEDED", $currentUser)</p>
    #elseif($loggedOut)
        <p class="notification">$msg.get("LOGIN_LOGGED_OUT")</p>
    #end
    <h1>$msg.get("LOGIN_HEADING")</h1>
    <p>$msg.get("LOGIN_INSTRUCTIONS", $WebPath.getINDEX())</p>
    <label>$msg.get("LOGIN_LABEL_USERNAME")</label>
    <input type="text" name="username" placeholder="$msg.get("LOGIN_LABEL_USERNAME")" value="" required>
    <label>$msg.get("LOGIN_LABEL_PASSWORD")</label>
    <input type="password" name="password" placeholder="$msg.get("LOGIN_LABEL_PASSWORD")" value="" required>
    #if($loginRedirect)
        <input type="hidden" name="loginRedirect" value="$loginRedirect">
    #end
    <input type="submit" value="$msg.get("LOGIN_BUTTON_LOGIN")">
</form>
